<body>

    <mat-card>
        <mat-card-title>Ingresar Orden</mat-card-title>
        <div class="informacion">
            <mat-icon>assignment</mat-icon>
            <mat-card-subtitle id="descripcion">Diligencia todos los datos para recibir tu ticket</mat-card-subtitle>
        </div>
    </mat-card>

    <mat-card id="card-formulario">
        <form [formGroup]="formularioOrden">
            <div class="formulario">

                <mat-form-field class="width-100">
                    <mat-label>Tiempo Extra</mat-label>
                    <input type="number" matInput placeholder="Ingrese el tiempo extra" formControlName="tiempoExtra">
                </mat-form-field>

                <mat-form-field class="width-100">
                    <mat-label>Identificación</mat-label>
                    <input type="text" matInput placeholder="Ingrese la identificación" formControlName="identificacion">
                </mat-form-field>

                <mat-form-field class="width-100">
                    <mat-label>Ingresa una fecha de nacimiento</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <span class="espacio"></span>

                <button class="width-100" (click)="crear()" mat-raised-button>Crear</button>
            </div>
        </form>
    </mat-card>
</body>