<mat-dialog-content>


    <mat-list>

        <div class="fila">
            <mat-icon>loyalty</mat-icon>
            <h2 id="ticketId">Ticket {{ ticket.id }}</h2>
        </div>

        <mat-list-item></mat-list-item>

        <mat-list-item>
            <mat-icon> attach_money</mat-icon>
            <h3 id="ticketCostoTotal">{{ ticket.costoTotal }} $</h3>
        </mat-list-item>

        <mat-list-item>
            <mat-icon> insert_invitation</mat-icon>
            <h3 id="ticketFechaVencimiento">Vence: {{ ticket.fechaVencimiento }}</h3>
        </mat-list-item>

        <mat-list-item></mat-list-item>


        <mat-list-item>
            <button id="cerrarTicket" class="width-100" (click)="cerrar()" mat-stroked-button>Cerrar</button>
        </mat-list-item>
    </mat-list>

</mat-dialog-content>