<mat-dialog-content>

    <div *ngIf="ticket" id="informacion">

        <div class="fila">
            <mat-icon>loyalty</mat-icon>
            <h2>Ticket: {{ ticket.id }}</h2>
        </div>

        <span class="espacio"></span>

        <div class="fila">
            <mat-icon> attach_money</mat-icon>
            <h3>{{ ticket.costoTotal }}</h3>
        </div>

        <span class="espacio"></span>

        <div class="fila">
            <mat-icon> insert_invitation</mat-icon>
            <h3>Vence: {{ ticket.fechaVencimiento }}</h3>
        </div>

        <span class="espacio"></span>

        <button class="width-100" (click)="cerrar()" mat-stroked-button>Cerrar</button>
    </div>

</mat-dialog-content>