<body>

    <mat-card class="width-100">
        <div class="fila">
            <mat-card-title>Orden</mat-card-title>
            <mat-icon>assignment</mat-icon>
        </div>
        <span class="espacio"></span>
        <div class="fila">
            <mat-icon>info</mat-icon>
            <mat-card-subtitle id="descripcion">Diligencia todos los datos para recibir tu ticket</mat-card-subtitle>
        </div>
    </mat-card>

    <mat-card id="card-formulario" class="width-100">
        <form [formGroup]="ordenForm">
            <div class="formulario">

                <mat-form-field class="width-100">
                    <mat-label>Tiempo Extra</mat-label>
                    <input id="tiempoExtraOrden" validar type="number" matInput placeholder="Ingrese el tiempo extra" formControlName="tiempoExtra">
                </mat-form-field>
            </div>
        </form>

        <form [formGroup]="clienteForm" (ngSubmit)="crear()">

            <div class="formulario">

                <mat-form-field class="width-100">
                    <mat-label>Identificación</mat-label>
                    <input id="identificacionCliente" validar type="text" matInput placeholder="Ingresa la identificación"
                        formControlName="identificacion">
                </mat-form-field>

                <mat-form-field class="width-100">
                    <mat-label>Fecha de nacimiento</mat-label>
                    <input id="fechaNacimientoCliente"  validar matInput [matDatepicker]="picker" placeHolder="Ingrese la fecha de nacimiento"
                        formControlName="fechaNacimiento">
                    <mat-datepicker-toggle id="pickerFechaNacimiento" matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <span class="espacio"></span>

                <button id="crearOrden" class="width-100" *ngIf="ordenForm.valid && clienteForm.valid" type="submit" mat-raised-button>Crear</button>
            </div>
        </form>
    </mat-card>
</body>